<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparación de Moneda</title>
    <!-- Importaciones GoogleFont -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="body-custom">
<div class="container">
    <h1 class="my-4">Comparación de Moneda</h1>

    <form id="comparacion-form">
        <label for="fecha">Fecha (DD-MM-YYYY):</label>
        <input type="text" id="fecha" name="fechaConsulta" required>
        <!-- Select para seleccionar el tipo de moneda -->
        <select id="tipoMoneda" class="form-control">
            <option value="uf">UF</option>
            <option value="ivp">IVP</option>
            <option value="dolar">Dolar</option>
            <option value="dolar_intercambio">Dolar Intercambio</option>
            <option value="euro">EURO</option>
            <option value="ipc">IPC</option>
            <option value="utm">UTM</option>
            <option value="imacec">IMACEC</option>
            <option value="tpm">TPM</option>
            <option value="libra_cobre">Libra Cobre</option>
            <option value="tasa_desempleo">Tasa desempleo</option>
            <option value="bitcoin">Bitcoin</option>
        </select>
        <button type="button" id="calcular-btn" class="btn">Calcular</button>
    </form>

    <div id="resultados" style="display: none;">
        <h2>Resultados:</h2>
        <table>
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Valor en Fecha:</td>
                <td><span id="valorEnFecha"></span></td>
            </tr>
            <tr>
                <td>Valor Actual de la Moneda:</td>
                <td><span id="valorMoneda"></span></td>
            </tr>
            <tr>
                <td>Porcentaje de Variación:</td>
                <td><span id="porcentajeDeVariacion"></span>%</td>
            </tr>
            <tr>
                <td>Diferencia en Pesos:</td>
                <td><span id="diferenciaEnPesos"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/}" class="btn btn-secondary mt-4">Volver a Inicio</a>
</div>

<script src="/js/comparacion.js"></script>
</body>
</html>
