<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diferencia Moneda por Mes</title>

    <!-- Importaciones GoogleFont -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS personalizado -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Diferencia Moneda por Mes</h1>

    <form id="comparacion-form">
        <div class="row">
            <div class="form-group col">
                <label for="anio">Año:</label>
                <select id="anio" class="form-control">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>
            <div class="form-group col">
                <label for="mes">Mes:</label>
                <select id="mes" class="form-control">
                    <option value="1">Enero</option>
                    <option value="2">Febrero</option>
                    <option value="3">Marzo</option>
                    <option value="4">Abril</option>
                    <option value="5">Mayo</option>
                    <option value="6">Junio</option>
                    <option value="7">Julio</option>
                    <option value="8">Agosto</option>
                    <option value="9">Septiembre</option>
                    <option value="10">Octubre</option>
                    <option value="11">Noviembre</option>
                    <option value="12">Diciembre</option>
                </select>
            </div>
            <button type="button" id="calcular-btn" class="btn">Calcular</button>
        </div>

    </form>

    <div id="resultados" style="display: none;">
        <h2>Resultados:</h2>
        <table>
            <thead>
            <tr>
                <th>Descripción</th>
                <th>Valor</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Valor en Fecha:</td>
                <td><span id="valorEnFecha"></span></td>
            </tr>
            <tr>
                <td>Valor Actual del Dólar:</td>
                <td><span id="valorDolar"></span></td>
            </tr>
            <tr>
                <td>Porcentaje de Variación:</td>
                <td><span id="porcentajeDeVariacion"></span>%</td>
            </tr>
            <tr>
                <td>Diferencia en Pesos:</td>
                <td>$<span id="diferenciaEnPesos"></span></td>
            </tr>
            <tr>
                <td>Promedio del Mes:</td>
                <td><span id="promedioDelMes"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/}" class="btn btn-secondary mt-4">Volver a Inicio</a>
</div>

<script src="/js/diferencia-mes.js"></script>
</body>
</html>
