<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indicadores Económicos</title>
</head>
<body>
<h1>Indicadores Económicos</h1>
<table>
    <thead>
    <tr>
        <th>Indicador</th>
        <th>Valor</th>
        <th>Unidad de Medida</th>
        <th>Fecha</th>
    </tr>
    </thead>
    <tbody id="tabla-indicadores">
    <!-- Aquí se agregarán las filas de la tabla -->
    </tbody>
</table>

<script src="/js/app.js"></script>
</body>
</html>
