<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Indicadores Económicos</title>
</head>
<body class="body-custom" id="paltas">
<div class="container">
    <h1 class="my-4">Indicadores Económicos</h1>
    <table>
        <thead>
        <tr>
            <th>Indicador</th>
            <th>Valor</th>
            <th>Unidad de Medida</th>
            <th>Fecha</th>
        </tr>
        </thead>
        <tbody id="tabla-indicadores">
        <!-- Aquí se agregarán las filas de la tabla -->
        </tbody>
    </table>
    <a href="/comparacion">Comparación</a>
    <a href="/diferencia-mes">Diferencia del mes</a>
    <a href="/promedio-variacion-anio">Promedio variación año</a>
</div>

<script src="/js/app.js"></script>
</body>
</html>
