<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promedio y Variación por Año</title>
    <!-- Importaciones GoogleFont -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- CSS personalizado -->
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Promedio y Variación por Año</h1>
    <form id="anio-form">
        <div class="row">
            <div class="form-group col">
                <label for="anio">Año:</label>
                <input type="text" id="anio" name="anioConsulta" class="form-control" required>
            </div>
            <div class="form-group col">
                <label for="tipoMoneda">Tipo de Moneda:</label>
                <select id="tipoMoneda" class="form-control">
                    <option value="uf">UF</option>
                    <option value="ivp">IVP</option>
                    <option value="dolar">Dolar</option>
                    <option value="dolar_intercambio">Dolar Intercambio</option>
                    <option value="euro">EURO</option>
                    <option value="ipc">IPC</option>
                    <option value="utm">UTM</option>
                    <option value="imacec">IMACEC</option>
                    <option value="tpm">TPM</option>
                    <option value="libra_cobre">Libra Cobre</option>
                    <option value="tasa_desempleo">Tasa desempleo</option>
                    <option value="bitcoin">Bitcoin</option>
                </select>
            </div>
            <div class="form-group col">
                <button type="button" id="calcular-btn" class="btn btn-primary">Calcular</button>
            </div>
        </div>
    </form>
    <div id="resultados" style="display: none;">
        <h2>Resultados:</h2>
        <p>Promedio del año: <span id="promedioPorMes"></span></p>
        <p>Porcentaje de variación mensual: <span id="porcentajeVariacion"></span></p>
    </div>
    <a th:href="@{/}" class="btn btn-secondary mt-4">Volver a Inicio</a>
</div>
<script src="/js/promedio-variacion-anio.js"></script>
</body>
</html>
